section#banner
    .container-xxl
        img(src='/images/banner.png').d-none.d-sm-block.img-desk
        img(src='/images/banner-mobi.png').d-block.d-sm-none.position-absolute.top-0.start-0.img-mobi
        .banner-logo.d-none.d-md-block
            img(src='/images/logo.png')
        button.btn.vjstyle.text-white.py-2.px-md-5.text-uppercase đăng ký nhận ưu đãi→
