section#signup.condition
    .container-xxl
        h2.section-title.pb-3 điều kiện du học hàn quốc
        h3.section-subtitle.mb-5
            | Điều kiện Du học Hàn Quốc là rất cơ bản và dễ
            br
            | dàng. Gần như mọi học sinh tốt nghiệp cấp 3 đều
            br
            | đủ điều kiện Du học Hàn Quốc.

        .row
            .col-12.col-lg-8.offset-lg-2
                .row
                    .col-12.col-md-6
                        .signup-box
                            svg(width='40' height='41' viewbox='0 0 40 41' fill='none' xmlns='http://www.w3.org/2000/svg')
                                circle(cx='20' cy='20.6001' r='19.4286' fill='#D8D8D8' fill-opacity='0.01' stroke='#E62B4C' stroke-width='1.14286')
                            .signup-price.mb-1 Điều kiện học vấn
                            .signup-title Tốt nghiệp cấp 3 trở lên
                    .col-12.col-md-6
                        .signup-box
                            svg(width='40' height='41' viewbox='0 0 40 41' fill='none' xmlns='http://www.w3.org/2000/svg')
                                circle(cx='20' cy='20.6001' r='19.4286' fill='#D8D8D8' fill-opacity='0.01' stroke='#E62B4C' stroke-width='1.14286')
                            .signup-price.mb-1 Điều kiện về tuổi
                            .signup-title Tuổi từ 18 đến 30 là tốt nhất
                    .col-12.col-md-6
                        .signup-box
                            svg(width='40' height='41' viewbox='0 0 40 41' fill='none' xmlns='http://www.w3.org/2000/svg')
                                circle(cx='20' cy='20.6001' r='19.4286' fill='#D8D8D8' fill-opacity='0.01' stroke='#E62B4C' stroke-width='1.14286')
                            .signup-price.mb-1 Điều kiện sức khỏe
                            .signup-title Không mắc HIV và lao phổi
                    .col-12.col-md-6
                        .signup-box
                            svg(width='40' height='41' viewbox='0 0 40 41' fill='none' xmlns='http://www.w3.org/2000/svg')
                                circle(cx='20' cy='20.6001' r='19.4286' fill='#D8D8D8' fill-opacity='0.01' stroke='#E62B4C' stroke-width='1.14286')
                            .signup-price.mb-1 Điều kiện tài chính
                            .signup-title Chỉ từ 150 triệu đồng - Rất rẻ ✓
                    .col-12.text-center.mt-5
                        button.btn.vjstyle.text-white.py-2.px-5.text-uppercase đăng ký học thử
