section#counter
    .container-xxl
        h2.section-title.pb-3 Du học Hàn Quốc VJ
        h3.section-subtitle.mb-md-5.mb-4
            | VJ Việt Nam là công ty mạnh nhất và uy tín nhất
            br
            | về du học Hàn Quốc và Nhật Bản.

        .row
            .col-12.col-lg-8.offset-lg-2
                .row
                    .col-4
                        .counter.text-center
                            .counter-number.circle.text-center.mx-auto 1
                            .counter-content
                                | Số 1 về du học
                                br
                                | Hàn Quốc
                    .col-4
                        .counter.text-center
                            .counter-number.circle.text-center.mx-auto 10+
                            .counter-content
                                | Hơn 10 năm
                                br
                                | kinh nghiệm
                    .col-4
                        .counter.text-center
                            .counter-number.circle.text-center.mx-auto 30+
                            .counter-content
                                | Hơn 30 chi
                                br
                                | nhánh cả nước
                    .col-4
                        .counter.text-center
                            .counter-number 10.000+
                            .counter-content
                                | Số học sinh bay
                                br
                                | năm 2022
                    .col-4
                        .counter.text-center
                            .counter-number 3.5 tháng
                            .counter-content
                                | Thời gian trung
                                br
                                | bình có Visa
                    .col-4
                        .counter.text-center
                            .counter-number 99%
                            .counter-content
                                | Là tỷ lệ học sinh
                                br
                                | VJ đậu Visa
                    .col-12.mb-4
                        h3.section-subtitle  ⚡️ Nếu bạn đang muốn đi Du học Hàn Quốc Nhanh nhất - Rẻ nhất - Uy tín nhất → Hãy đăng ký ngay - Số ưu đãi có hạn ✓
                    .col-12.text-center
                        button.btn.vjstyle.text-white.py-2.px-5.text-uppercase gọi ngay ưu đãi
