section#signup.condition
    .container-xxl
        h2.section-title.pb-3 báo đài nói về chúng tôi
        h3.section-subtitle.mb-4
            | Ở VJVietNam sau những giờ học tập trung là
            br
            | những buổi ngoại khóa đầy vui vẻ và đáng nhớ -
            br
            | Vừa tốt cho sức khỏe mà còn cực vui ✓

        .dream-bg
            img(src='/images/dream.png').img-fluid.w-100
        .row
            .col-12.col-lg-8.offset-lg-2
                .row
                    .col-12.mt-5
                        h3.section-subtitle.mb-5 ⚡️Giảng đường VIP, giáo viên giỏi, giáo trình hay, ký túc xịn, môi trường học tập vui vẻ, nhiều hoạt động ngoại khóa - VJ Việt Nam là môi trường quá tuyệt ✓
                    .col-12.text-center
                        button.btn.vjstyle.text-white.py-2.px-5.text-uppercase tham gia ngay
