section#level.faq
    .container-xxl
        h2.section-title.pb-3 hỏi đáp Du học Hàn Quốc
        h3.section-subtitle.mb-5
            | 1001 Những câu hỏi nhanh thường gặp nhất về
            br
            | Du học Hàn Quốc, VJOnline sẽ giải đáp nhanh
            br
            | gọn. Cần biết chi tiết hơn gọi nhé 😇

        .row
            .col-12.col-lg-8.offset-lg-2
                p.level-item.position-relative.mb-4
                    svg(width='18' height='17' viewbox='0 0 18 17' fill='none' xmlns='http://www.w3.org/2000/svg').position-absolute
                        path(d='M15.2083 1.03906C15.6249 0.960938 16.0025 1.05208 16.3411 1.3125C16.6796 1.57292 16.8879 1.92448 16.9661 2.36719C17.0442 2.78385 16.953 3.17448 16.6926 3.53906L8.60669 15.3359C8.34627 15.6745 8.00773 15.8828 7.59106 15.9609C7.20044 16.0391 6.83586 15.9479 6.49731 15.6875C6.28898 15.5312 5.74211 14.9844 4.85669 14.0469C3.97127 13.0833 3.13794 12.1589 2.35669 11.2734L1.14575 9.94531C0.859294 9.63281 0.716064 9.25521 0.716064 8.8125C0.716064 8.36979 0.872314 7.99219 1.18481 7.67969C1.49731 7.36719 1.8619 7.22396 2.27856 7.25C2.69523 7.25 3.04679 7.41927 3.33325 7.75781L7.20044 11.9375L14.2317 1.66406C14.4921 1.32552 14.8176 1.11719 15.2083 1.03906Z' fill='#E62B4C')
                    | <b class='d-block mb-2'>Du học Hàn Quốc có khó không?</b>
                    | Rất dễ. Du học Hàn Quốc thuộc hàng dễ nhất, Hàn Quốc có đến hơn 500 trường đại học, chi phí du học rẻ chỉ từ hơn 150 triệu, điều kiện học vấn và sức khỏe rất dễ, gần như ai tốt nghiệp cấp 3 trở lên đều có thể đi Du học Hàn Quốc.
                p.level-item.position-relative.mb-4
                    svg(width='18' height='17' viewbox='0 0 18 17' fill='none' xmlns='http://www.w3.org/2000/svg').position-absolute
                        path(d='M15.2083 1.03906C15.6249 0.960938 16.0025 1.05208 16.3411 1.3125C16.6796 1.57292 16.8879 1.92448 16.9661 2.36719C17.0442 2.78385 16.953 3.17448 16.6926 3.53906L8.60669 15.3359C8.34627 15.6745 8.00773 15.8828 7.59106 15.9609C7.20044 16.0391 6.83586 15.9479 6.49731 15.6875C6.28898 15.5312 5.74211 14.9844 4.85669 14.0469C3.97127 13.0833 3.13794 12.1589 2.35669 11.2734L1.14575 9.94531C0.859294 9.63281 0.716064 9.25521 0.716064 8.8125C0.716064 8.36979 0.872314 7.99219 1.18481 7.67969C1.49731 7.36719 1.8619 7.22396 2.27856 7.25C2.69523 7.25 3.04679 7.41927 3.33325 7.75781L7.20044 11.9375L14.2317 1.66406C14.4921 1.32552 14.8176 1.11719 15.2083 1.03906Z' fill='#E62B4C')
                    | <b class='d-block mb-2'>Vì sao nên Du học Hàn Quốc?</b>
                    | Vi Hàn Quốc là đất nước phát triển và hoa lệ hàng đầu thế giới. Lại rất gần Việt Nam nên đi lại dễ và rẻ. Chi phí du học thấp. Việc làm thêm nhiều đủ trang trải. Chất lượng giáo dục rất cao ở mọi ngành nghề. Ngoài ra đất nước Hàn Quốc siêu đẹp, con người thân thiện, văn hóa rất đặc sắc.
                    | Hàn Quốc là KPop, là các Ọp Pa, là điện ảnh, là kinh đô thời trang Châu Á, là thiên đường du lịch - mua sắm - nghĩ dưỡng…
                    | Du học Hàn Quốc không chỉ là đi học nghề, mà còn là đi du lịch, đi trải nghiệm thế giới.
                p.level-item.position-relative.mb-4
                    svg(width='18' height='17' viewbox='0 0 18 17' fill='none' xmlns='http://www.w3.org/2000/svg').position-absolute
                        path(d='M15.2083 1.03906C15.6249 0.960938 16.0025 1.05208 16.3411 1.3125C16.6796 1.57292 16.8879 1.92448 16.9661 2.36719C17.0442 2.78385 16.953 3.17448 16.6926 3.53906L8.60669 15.3359C8.34627 15.6745 8.00773 15.8828 7.59106 15.9609C7.20044 16.0391 6.83586 15.9479 6.49731 15.6875C6.28898 15.5312 5.74211 14.9844 4.85669 14.0469C3.97127 13.0833 3.13794 12.1589 2.35669 11.2734L1.14575 9.94531C0.859294 9.63281 0.716064 9.25521 0.716064 8.8125C0.716064 8.36979 0.872314 7.99219 1.18481 7.67969C1.49731 7.36719 1.8619 7.22396 2.27856 7.25C2.69523 7.25 3.04679 7.41927 3.33325 7.75781L7.20044 11.9375L14.2317 1.66406C14.4921 1.32552 14.8176 1.11719 15.2083 1.03906Z' fill='#E62B4C')
                    | <b class='d-block mb-2'>Các hình thức Du học Hàn Quốc?</b>
                    | Ngoài hình thức du học tự túc hoặc theo học bổng. Đa số học sinh Du học Hàn Quốc vừa học vừa làm. Lý do đơn giản là Hàn Quốc rất nhiều việc làm thêm và thu nhập cao nên đủ lo cho việc học. Dù cho bạn du học nghề, học đại học cao đẳng, hay thạc sỹ tiến sỹ thì chăm làm thêm sẽ đủ chi phí, thậm chí còn có dư để gửi về nhà.
                p.level-item.position-relative.mb-4
                    svg(width='18' height='17' viewbox='0 0 18 17' fill='none' xmlns='http://www.w3.org/2000/svg').position-absolute
                        path(d='M15.2083 1.03906C15.6249 0.960938 16.0025 1.05208 16.3411 1.3125C16.6796 1.57292 16.8879 1.92448 16.9661 2.36719C17.0442 2.78385 16.953 3.17448 16.6926 3.53906L8.60669 15.3359C8.34627 15.6745 8.00773 15.8828 7.59106 15.9609C7.20044 16.0391 6.83586 15.9479 6.49731 15.6875C6.28898 15.5312 5.74211 14.9844 4.85669 14.0469C3.97127 13.0833 3.13794 12.1589 2.35669 11.2734L1.14575 9.94531C0.859294 9.63281 0.716064 9.25521 0.716064 8.8125C0.716064 8.36979 0.872314 7.99219 1.18481 7.67969C1.49731 7.36719 1.8619 7.22396 2.27856 7.25C2.69523 7.25 3.04679 7.41927 3.33325 7.75781L7.20044 11.9375L14.2317 1.66406C14.4921 1.32552 14.8176 1.11719 15.2083 1.03906Z' fill='#E62B4C')
                    | <b class='d-block mb-2'>Chọn nghành nghề Du học Hàn Quốc?</b>
                    | Hàn Quốc là đất nước phát triển bậc nhất Châu Á nên bất kỳ ngành nghề gì bạn muốn học đều có thế mạnh. Đặc biệt là kỹ thuật, cơ khí, điện tử, ô tô, truyền thông, thiết kế, marketing, kinh tế, kinh doanh, thương mại, du lịch, khách sạn, thiết kế thời trang, làm đẹp, thẩm mỹ, điều dưỡng…
                p.level-item.position-relative.mb-4
                    svg(width='18' height='17' viewbox='0 0 18 17' fill='none' xmlns='http://www.w3.org/2000/svg').position-absolute
                        path(d='M15.2083 1.03906C15.6249 0.960938 16.0025 1.05208 16.3411 1.3125C16.6796 1.57292 16.8879 1.92448 16.9661 2.36719C17.0442 2.78385 16.953 3.17448 16.6926 3.53906L8.60669 15.3359C8.34627 15.6745 8.00773 15.8828 7.59106 15.9609C7.20044 16.0391 6.83586 15.9479 6.49731 15.6875C6.28898 15.5312 5.74211 14.9844 4.85669 14.0469C3.97127 13.0833 3.13794 12.1589 2.35669 11.2734L1.14575 9.94531C0.859294 9.63281 0.716064 9.25521 0.716064 8.8125C0.716064 8.36979 0.872314 7.99219 1.18481 7.67969C1.49731 7.36719 1.8619 7.22396 2.27856 7.25C2.69523 7.25 3.04679 7.41927 3.33325 7.75781L7.20044 11.9375L14.2317 1.66406C14.4921 1.32552 14.8176 1.11719 15.2083 1.03906Z' fill='#E62B4C')
                    | <b class='d-block mb-2'>Du học Hàn Quốc nên chọn vùng nào?</b>
                    | Vùng nào cũng được tùy bạn thích. Vấn đề là ở bạn vì mọi vùng đếu có các trường chất lượng cao. Nếu ở Seoul và Busan thì hoa lệ nhất và nhiều trường nhất nhưng cũng đắt đỏ nhất. Còn ở các thành phố và tỉnh khác thì giá rẻ hơn và việc làm thêm cũng nhiều và dễ kiếm hơn. Nên chọn trường nào tùy thuộc vào sở thích và quyết tâm của bạn là chủ yếu nhất.
                p.level-item.position-relative.mb-4
                    svg(width='18' height='17' viewbox='0 0 18 17' fill='none' xmlns='http://www.w3.org/2000/svg').position-absolute
                        path(d='M15.2083 1.03906C15.6249 0.960938 16.0025 1.05208 16.3411 1.3125C16.6796 1.57292 16.8879 1.92448 16.9661 2.36719C17.0442 2.78385 16.953 3.17448 16.6926 3.53906L8.60669 15.3359C8.34627 15.6745 8.00773 15.8828 7.59106 15.9609C7.20044 16.0391 6.83586 15.9479 6.49731 15.6875C6.28898 15.5312 5.74211 14.9844 4.85669 14.0469C3.97127 13.0833 3.13794 12.1589 2.35669 11.2734L1.14575 9.94531C0.859294 9.63281 0.716064 9.25521 0.716064 8.8125C0.716064 8.36979 0.872314 7.99219 1.18481 7.67969C1.49731 7.36719 1.8619 7.22396 2.27856 7.25C2.69523 7.25 3.04679 7.41927 3.33325 7.75781L7.20044 11.9375L14.2317 1.66406C14.4921 1.32552 14.8176 1.11719 15.2083 1.03906Z' fill='#E62B4C')
                    | <b class='d-block mb-2'>Du học Hàn Quốc nên chọn trường nào?</b>
                    | Hàn Quốc có hệ trường công lập và tư thục. Trường công lập thông thường có tiêu chuẩn đầu vào cao và yêu cầu khắt khe hơn về tiếng. Trường tư thục là lựa chọn hợp lý của nhiều du học sinh Việt Nam. Trường tư thục có học phí trung bình sẽ cao hơn chút, bù lại cơ sở vật chất hiện đại hơn, chất lượng giáo dục tốt hơn, quan trọng được nghỉ nhiều hơn nên thuận lợi để làm thêm hoặc tranh thủ đi du lịch khám phá Hàn Quốc.
                p.level-item.position-relative.mb-4
                    svg(width='18' height='17' viewbox='0 0 18 17' fill='none' xmlns='http://www.w3.org/2000/svg').position-absolute
                        path(d='M15.2083 1.03906C15.6249 0.960938 16.0025 1.05208 16.3411 1.3125C16.6796 1.57292 16.8879 1.92448 16.9661 2.36719C17.0442 2.78385 16.953 3.17448 16.6926 3.53906L8.60669 15.3359C8.34627 15.6745 8.00773 15.8828 7.59106 15.9609C7.20044 16.0391 6.83586 15.9479 6.49731 15.6875C6.28898 15.5312 5.74211 14.9844 4.85669 14.0469C3.97127 13.0833 3.13794 12.1589 2.35669 11.2734L1.14575 9.94531C0.859294 9.63281 0.716064 9.25521 0.716064 8.8125C0.716064 8.36979 0.872314 7.99219 1.18481 7.67969C1.49731 7.36719 1.8619 7.22396 2.27856 7.25C2.69523 7.25 3.04679 7.41927 3.33325 7.75781L7.20044 11.9375L14.2317 1.66406C14.4921 1.32552 14.8176 1.11719 15.2083 1.03906Z' fill='#E62B4C')
                    | <b class='d-block mb-2'>Chọn trường TOP 1, TOP 2 hay TOP 3?</b>
                    | Top 1 là trường có tỷ lệ bỏ trốn dưới 1%/năm, Top 2 là từ 1-10% và Top 3 là trên 10% hoặc chưa được chứng nhận.
                    | Về chất lượng, thường Top 1 sẽ tốt hơn, nhưng trường thuộc Top nào lại thay đổi hàng năm, tùy lượng học sinh ngoại quốc bỏ trốn, nay Top 1 năm sau có thể xuống Top 3.
                    | Do đó Top nào không quá quan trọng, quan trọng là các bạn cần tìm hiểu trường bạn định học chất lượng ổn không. Thông thường nên chọn trường chất lượng tốt và thuộc TOP 2 hoặc 3 thì sẽ dễ đi hơn Top 1.

            .col-12.col-lg-8.offset-lg-2.mt-4
                .row
                    .col-12.text-center
                        button.btn.vjstyle.text-white.py-2.px-5.text-uppercase tôi muốn hỏi thêm
