section#signup.flow.condition
    .container-xxl
        h2.section-title.pb-3 quy trình du học hàn quốc
        h3.section-subtitle.mb-5
            | Quy trình Du học Hàn Quốc tại VJOnline không
            br
            | nhì nhằng phúc tạp như những nơi khác, chỉ
            br
            | Siêu Đơn Giản gồm 3 bước:

        .row
            .col-12.col-lg-8.offset-lg-2
                .row
                    .col-12.col-sm-4.flow-item
                        .flow-wrapper.text-center.ps-md-3.pe-3
                            .flow-number.circle.mx-sm-auto 1
                            .flow-title Gọi điện Đăng ký
                            .flow-desc
                                p Bạn gọi hotline <b>0902 492 111</b> để được tư vấn và đăng ký xếp lớp học ngay.
                    .col-12.col-sm-4.flow-item
                        .flow-wrapper.text-center.ps-md-3.pe-3
                            .flow-number.circle.mx-sm-auto 2
                            .flow-title Học tiếng và Chọn trường
                            .flow-desc
                                p Học tiếng khoảng 3 tháng, quá trình này cũng là lúc VJ cùng học viên chọn trường phù hợp.
                    .col-12.col-sm-4.flow-item
                        .flow-wrapper.text-center.ps-md-3.pe-3
                            .flow-number.circle.mx-sm-auto 3
                            .flow-title Nhận Visa và Du học
                            .flow-desc
                                p Tùy trường mà bạn sẽ phỏng vấn hoặc có thư mời Visa. Khi đã có Visa là chuẩn bị bay thôi ✓

                .col-12.col-lg-8.offset-lg-2.text-center.mt-5
                    button.btn.vjstyle.text-white.py-2.px-5.text-uppercase đăng ký học thử miễn phí
