header
    .container-xxl
        .d-flex.align-items-center.py-2
            .logo
                img(src='/images/logo.png')
            .right-details.d-flex.ms-auto
                img(src='/images/phone.png')
