section#level
    .container-xxl
        h2.section-title.pb-3 Đẳng’s cấp của VJ
        h3.section-subtitle.mb-5
            | VJ là sự khác biệt so với các công ty khác → Tập
            br
            | trung cao nhất vào chất lượng.

        .row
            .col-12.col-md-6
                img(src='/images/level.png').img-fluid.w-100
            .col-12.col-md-6.mt-4.mt-md-0
                p.level-item.position-relative
                    svg(width='18' height='17' viewbox='0 0 18 17' fill='none' xmlns='http://www.w3.org/2000/svg').position-absolute
                        path(d='M15.2083 1.03906C15.6249 0.960938 16.0025 1.05208 16.3411 1.3125C16.6796 1.57292 16.8879 1.92448 16.9661 2.36719C17.0442 2.78385 16.953 3.17448 16.6926 3.53906L8.60669 15.3359C8.34627 15.6745 8.00773 15.8828 7.59106 15.9609C7.20044 16.0391 6.83586 15.9479 6.49731 15.6875C6.28898 15.5312 5.74211 14.9844 4.85669 14.0469C3.97127 13.0833 3.13794 12.1589 2.35669 11.2734L1.14575 9.94531C0.859294 9.63281 0.716064 9.25521 0.716064 8.8125C0.716064 8.36979 0.872314 7.99219 1.18481 7.67969C1.49731 7.36719 1.8619 7.22396 2.27856 7.25C2.69523 7.25 3.04679 7.41927 3.33325 7.75781L7.20044 11.9375L14.2317 1.66406C14.4921 1.32552 14.8176 1.11719 15.2083 1.03906Z' fill='#E62B4C')
                    | Hệ thống phòng học mới đẹp hiện đại, đạt chuẩn giáo dục chất lượng cao
                p.level-item.position-relative
                    svg(width='18' height='17' viewbox='0 0 18 17' fill='none' xmlns='http://www.w3.org/2000/svg').position-absolute
                        path(d='M15.2083 1.03906C15.6249 0.960938 16.0025 1.05208 16.3411 1.3125C16.6796 1.57292 16.8879 1.92448 16.9661 2.36719C17.0442 2.78385 16.953 3.17448 16.6926 3.53906L8.60669 15.3359C8.34627 15.6745 8.00773 15.8828 7.59106 15.9609C7.20044 16.0391 6.83586 15.9479 6.49731 15.6875C6.28898 15.5312 5.74211 14.9844 4.85669 14.0469C3.97127 13.0833 3.13794 12.1589 2.35669 11.2734L1.14575 9.94531C0.859294 9.63281 0.716064 9.25521 0.716064 8.8125C0.716064 8.36979 0.872314 7.99219 1.18481 7.67969C1.49731 7.36719 1.8619 7.22396 2.27856 7.25C2.69523 7.25 3.04679 7.41927 3.33325 7.75781L7.20044 11.9375L14.2317 1.66406C14.4921 1.32552 14.8176 1.11719 15.2083 1.03906Z' fill='#E62B4C')
                    | Ký túc xá hiện đại, biệt lập nam - nữ riêng, đáp ứng cùng lúc 2000 học viên
                p.level-item.position-relative
                    svg(width='18' height='17' viewbox='0 0 18 17' fill='none' xmlns='http://www.w3.org/2000/svg').position-absolute
                        path(d='M15.2083 1.03906C15.6249 0.960938 16.0025 1.05208 16.3411 1.3125C16.6796 1.57292 16.8879 1.92448 16.9661 2.36719C17.0442 2.78385 16.953 3.17448 16.6926 3.53906L8.60669 15.3359C8.34627 15.6745 8.00773 15.8828 7.59106 15.9609C7.20044 16.0391 6.83586 15.9479 6.49731 15.6875C6.28898 15.5312 5.74211 14.9844 4.85669 14.0469C3.97127 13.0833 3.13794 12.1589 2.35669 11.2734L1.14575 9.94531C0.859294 9.63281 0.716064 9.25521 0.716064 8.8125C0.716064 8.36979 0.872314 7.99219 1.18481 7.67969C1.49731 7.36719 1.8619 7.22396 2.27856 7.25C2.69523 7.25 3.04679 7.41927 3.33325 7.75781L7.20044 11.9375L14.2317 1.66406C14.4921 1.32552 14.8176 1.11719 15.2083 1.03906Z' fill='#E62B4C')
                    | Chuẩn giáo trình, hơn 30 giáo viên xuất sắc đảm bảo chuẩn tiếng Hàn Quốc chỉ sau 3 tháng
                p.level-item.position-relative
                    svg(width='18' height='17' viewbox='0 0 18 17' fill='none' xmlns='http://www.w3.org/2000/svg').position-absolute
                        path(d='M15.2083 1.03906C15.6249 0.960938 16.0025 1.05208 16.3411 1.3125C16.6796 1.57292 16.8879 1.92448 16.9661 2.36719C17.0442 2.78385 16.953 3.17448 16.6926 3.53906L8.60669 15.3359C8.34627 15.6745 8.00773 15.8828 7.59106 15.9609C7.20044 16.0391 6.83586 15.9479 6.49731 15.6875C6.28898 15.5312 5.74211 14.9844 4.85669 14.0469C3.97127 13.0833 3.13794 12.1589 2.35669 11.2734L1.14575 9.94531C0.859294 9.63281 0.716064 9.25521 0.716064 8.8125C0.716064 8.36979 0.872314 7.99219 1.18481 7.67969C1.49731 7.36719 1.8619 7.22396 2.27856 7.25C2.69523 7.25 3.04679 7.41927 3.33325 7.75781L7.20044 11.9375L14.2317 1.66406C14.4921 1.32552 14.8176 1.11719 15.2083 1.03906Z' fill='#E62B4C')
                    | Số học sinh đang theo học VJ Việt Nam bằng 10 trung tâm du học Hàn Quốc xếp sau cộng lại
                p.level-item.position-relative
                    svg(width='18' height='17' viewbox='0 0 18 17' fill='none' xmlns='http://www.w3.org/2000/svg').position-absolute
                        path(d='M15.2083 1.03906C15.6249 0.960938 16.0025 1.05208 16.3411 1.3125C16.6796 1.57292 16.8879 1.92448 16.9661 2.36719C17.0442 2.78385 16.953 3.17448 16.6926 3.53906L8.60669 15.3359C8.34627 15.6745 8.00773 15.8828 7.59106 15.9609C7.20044 16.0391 6.83586 15.9479 6.49731 15.6875C6.28898 15.5312 5.74211 14.9844 4.85669 14.0469C3.97127 13.0833 3.13794 12.1589 2.35669 11.2734L1.14575 9.94531C0.859294 9.63281 0.716064 9.25521 0.716064 8.8125C0.716064 8.36979 0.872314 7.99219 1.18481 7.67969C1.49731 7.36719 1.8619 7.22396 2.27856 7.25C2.69523 7.25 3.04679 7.41927 3.33325 7.75781L7.20044 11.9375L14.2317 1.66406C14.4921 1.32552 14.8176 1.11719 15.2083 1.03906Z' fill='#E62B4C')
                    | Có khả năng tuyển sinh cả nước với 3 trung tâm đào tạo lớn ở Hà Nội, Hồ Chí Minh, Đà Nẵng
                p.level-item.position-relative
                    svg(width='18' height='17' viewbox='0 0 18 17' fill='none' xmlns='http://www.w3.org/2000/svg').position-absolute
                        path(d='M15.2083 1.03906C15.6249 0.960938 16.0025 1.05208 16.3411 1.3125C16.6796 1.57292 16.8879 1.92448 16.9661 2.36719C17.0442 2.78385 16.953 3.17448 16.6926 3.53906L8.60669 15.3359C8.34627 15.6745 8.00773 15.8828 7.59106 15.9609C7.20044 16.0391 6.83586 15.9479 6.49731 15.6875C6.28898 15.5312 5.74211 14.9844 4.85669 14.0469C3.97127 13.0833 3.13794 12.1589 2.35669 11.2734L1.14575 9.94531C0.859294 9.63281 0.716064 9.25521 0.716064 8.8125C0.716064 8.36979 0.872314 7.99219 1.18481 7.67969C1.49731 7.36719 1.8619 7.22396 2.27856 7.25C2.69523 7.25 3.04679 7.41927 3.33325 7.75781L7.20044 11.9375L14.2317 1.66406C14.4921 1.32552 14.8176 1.11719 15.2083 1.03906Z' fill='#E62B4C')
                    | Hỗ trợ tư vấn miễn phí 24/24, ngay cả ngày nghỉ hay lễ tết - tận tâm hỗ trợ học viên ✓
            .col-12.col-lg-8.offset-lg-2
                .row
                    .col-12.mt-5
                        h3.section-subtitle.mb-5 ⚡️Với đẳng’s cấp vị trí số 1 - VJVietNam cam kết sẽ luôn hỗ trợ bạn Nhanh nhất - Tốt nhất - Giá rẻ nhất - Uy tín nhất ✓
                    .col-12.text-center
                        button.btn.vjstyle.text-white.py-2.px-5.text-uppercase TƯ VẤN MIỄN PHÍ
