extends ../wrapper.pug

block title
    | Homepage

block content
    include ../partials/header.pug
    include ../partials/banner.pug
    include ../partials/counter.pug
    include ../partials/level.pug
    include ../partials/signup.pug
    include ../partials/benefit.pug
    include ../partials/condition.pug
    include ../partials/why.pug
    include ../partials/flow.pug
    include ../partials/on-news.pug
    include ../partials/dream.pug
    include ../partials/faq.pug
    include ../partials/footer.pug

block js
    script(src='/js/main.js')

